
<div class="container">
    <br /> <br />
    <p class="text-center font-weight-bold" style="font-size: 22px">Twoje zamówienie zostało przekazane do realizacji</p>
    <br />
    <p class="text-center font-weight-bold" style="font-size: 22px">Dziekujęmy za zakupy w naszym serwisie !</p>
    <br />
    <div class="form-group" style="text-align:center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-success ">Powrót do strony głównej</a>
    </div>
</div>
